.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.nav p {
  opacity: var(--subtitle-opacity);
  font-weight: 500;
}
.main {
  max-width: 1075px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  margin-top: 2rem;
  padding: 0 2rem;
}

@media only screen and (max-width: 480px) {
  .container {
    margin-bottom: 11rem;
  }
  .main {
    margin-top: 1.5rem;
    width: 100%;
    padding: 0 1rem;
    gap: 1.5rem;
  }
}
